{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/artists/{{artist.id}}/edit">
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name" id="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true, value = artist.name) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group" id="city">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value = artist.city) }}
            </div>
            <div class="form-group" id="state">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true, value = artist.state) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone" id="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value = artist.phone) }}
        </div>
      <div class="form-group">
        <label for="genres" id="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = truet, value = artist.genres) }}
      </div>
      <div class="form-group">
          <label for="facebook_link" id="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.facebook_link) }}
        </div>
      
      <div class="form-group">
          <label for="image_link" id="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.image_link) }}
      </div>

      <div class="form-group">
            <label for="website_link" id="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true, value = artist.website_link) }}
      </div>

      <div class="form-group">
          <label for="seeking_venue" id="seeking_venue">Looking for Venues</label>
          {{ form.seeking_venue(placeholder='Venue', autofocus = true, value = artist.looking_for_venues) }}
      </div>

      <div class="form-group">
          <label for="seeking_description" id="seeking_description">Seeking Description</label>
          {{ form.seeking_description(class_ = 'form-control', autofocus = true, value = artist.seeking_description) }}
      </div>
      
      <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block" id="edit-artist" data-id="{{ artist.id }}">
    </form>
  </div>

  <script>
    const edit_artist = document.getElementById('edit-artist')
    edit_artist.addEventListener("click", function clickFunction(e) {
      artist_id = e.target.dataset['id']
      fetch('/artists/' + artist_id + '/edit', {
        method: 'POST',
        body: JSON.stringify({
          'artist_id': artist_id,
          'name': document.getElementById('name').value,
          'city': document.getElementById('city').value,
          'state': document.getElementById('state').value,
          'phone': document.getElementById('phone').value,
          'genres': document.getElementById('genres').value,
          'facebook_link': document.getElementById('facebook_link').value,
          'image_link': document.getElementById('image_link').value,
          'website_link': document.getElementById('website_link').value,
          'seeking_venue': document.getElementById('seeking_venue').value,
          'seeking_description': document.getElementById('seeking_description').value
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
    })
  </script>





{% endblock %}
